<!-- Title and Description -->
<h3 class="title">Create new password</h3>
<p class="description">Your new password must be different from previous used password</p>

<!-- Alert -->
<div class="alert alert-success" role="alert" *ngIf="resetSuccess">
    {{ responseMsg }} Please go back to login in HAIYA application. 
</div>
<div class="alert alert-danger" role="alert" *ngIf="resetSuccess == false">
    {{ responseMsg }} Please try again.
</div>

<!-- Reset password form -->
<form [formGroup]="passwordForm" (ngSubmit)="onSubmit()">
    <!-- Password -->
    <div class="mb-3">
        <label for="password" class="form-label label">Password</label>
        <input type="password" class="form-control" formControlName="password">
        <div class="form-text">
          Your password must be at least 8 characters long.
        </div>
    </div>

    <!-- Confirm Password -->
    <div class="mb-3">
        <label for="confirmedPassword" class="form-label label">Confirm Password</label>
        <input type="password" class="form-control" formControlName="confirmedPassword">
        <span 
            *ngIf="confirmedPassword?.touched && passwordForm.get('confirmedPassword')?.errors" 
            class="error-msg form-text"
        >
            {{ passwordForm.get('confirmedPassword')?.errors?.message }}
        </span>
    </div>
    
    <!-- Submit button -->
    <button type="submit" class="btn btn-primary mt-3" [disabled]="!passwordForm.valid">
        Submit
    </button>
</form>
